<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Movie Database</title>
        <link rel="stylesheet" href="./assets/materialize.css">
        <link rel="stylesheet" href="./assets/style.css">
    </head>
    <body>
        <div id="app">
            <nav>
                <div class="nav-wrapper green accent-3">
                    <a href="./" class="brand-logo center" v-text="titleV"></a>
                </div>
            </nav>

            <div class="container" v-show="view=='selector'">

                <div class="row"></div>
                <div class="row"></div>

                <div class="row">
                    
                    <div class="input-field col s12">
                        <select v-model="query">
                            <option value="" disabled selected>Choose your option</option>
                            <optgroup label="Functionalities">
                                <option v-for="instance in functionalitiesV" :value="instance.query">{{instance.desc}}</option>
                            </optgroup>
                            <optgroup label="Procedures">
                                <option v-for="instance in proceduresV" :value="instance.query">{{instance.desc}}</option>
                            </optgroup>
                            <optgroup label="Functions">
                                <option v-for="instance in functionsV" :value="instance.query">{{instance.desc}}</option>
                            </optgroup>
                            <optgroup label="Cursors">
                                <option v-for="instance in cursorsV" :value="instance.query">{{instance.desc}}</option>
                            </optgroup>
                            <optgroup label="Views">
                                <option v-for="instance in viewsV" :value="instance.query">{{instance.desc}}</option>
                            </optgroup>
                            <optgroup label="Tables">
                                <option v-for="instance in tablesV" :value="instance.query">{{instance.desc}}</option>
                            </optgroup>
                            <optgroup label="Insert">
                                <option v-for="instance in insertV" :value="instance.query">{{instance.desc}}</option>
                            </optgroup>
                        </select>
                        <label>Select SQL Query</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 input-field">
                        <textarea id="sql" class="materialize-textarea" v-model="query" @keydown.ctrl.enter="fire()"></textarea>
                        <label for="sql">Query Editor</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 center">
                        <button class="btn-large waves-effect waves-light blue accent-3" @click="fire()">Execute</button>
                    </div>
                </div>

            </div>

            <div v-show="view=='table'">
                <div class="row"></div>
                <div class="row">
                    <div class="col s12">
                        <table id="viewTable" class="striped"></table>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <button class="btn-large waves-effect waves-light blue accent-3" @click="view='selector'">Back</button>
                    </div>
                </div>
            </div>

            <div v-show="view=='message'">
                <div class="row"></div>
                <div class="row">
                    <div class="col s12 center">
                        <h4 v-text="message" :class="messageColor"></h4>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row">
                    <div class="col s12 center">
                        <button class="btn-large waves-effect waves-light blue accent-3" @click="view='selector'">Back</button>
                    </div>
                </div>
            </div>

        </div>
        <script src="./assets/materialize.js"></script>
        <script src="./assets/axios.min.js"></script>
        <script src="./data.js"></script>
        <script src="./assets/vue.js"></script>
        <script src="./assets/jquery.min.js"></script>
        <script src="./assets/script.js"></script>
    </body>
</html>